<template>
<div>
    <cibi-header></cibi-header>
    <cibi-main></cibi-main>
    <modal-root class="modal-root"></modal-root>
</div>
</template>
<script>
import CibiHeader from "../organisms/CibiHeader.vue";
import CibiMain from "../organisms/CibiMain.vue";
import { ModalRoot } from "vueboox";

export default {
    components: {
        CibiHeader,
        CibiMain,
        ModalRoot,
    },
};
</script>
