<template>
<div></div>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import AInput from "./AInput.vue";
import ATextarea from "./ATextarea.vue";

export default {
    components: {
        AInput,
        ATextarea,
    },
    props: {
        form: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            iform: this.form,
        };
    },
};
</script>
