<template>
<div class="form-group">
    <label v-if="label" :for="verboseId">{{ label }}</label>
    <input
        :id="verboseId"
        :type="type"
        :value="value"
        @input="$emit('input', $event.target.value)"
        class="form-control form-control-sm"
    />
</div>
</template>

<script>
import AFormElement from "./AFormElement.vue";

export default {
    name: "AInput",
    extends: AFormElement,
    props: {
        type: {
            type: String,
            required: false,
            default: "text",
        },
    },
};
</script>
