<template>
<div class="form-group my-3">
    <label v-if="label" :for="verboseId">{{ label }}</label>
    <input
        :id="verboseId"
        :type="type"
        v-model="search.value"
        @input="_onInput"
        class="form-control form-control-sm"
    />
    <div class="position-relative w-100">
        <div class="position-absolute w-100">
            <slot v-if="search.results.length" name="results"></slot>
            <slot v-else-if="search.value.length" name="no-results"></slot>
        </div>
    </div>
</div>
</template>

<script>
import DjangoRequest from "../../../backend/DjangoRequest";
import AFormElement from "./AFormElement.vue";

export default {
    props: {
        onInput: {
            type: Function,
            required: false,
        },
        onSearch: {
            type: Function,
            required: true,
        },
        endpoint: {
            required: true,
        },
        value: {
            required: false,
        },
        search: {
            type: Object,
            required: true,
        },
        type: {
            type: String,
            required: false,
            default: "text",
        },
    },
    extends: AFormElement,
    methods: {
        _onInput() {
            if (!this.search.value || !this.search.value.length) {
                this.onSearch(this.search.value, []);
                return;
            }

            if (this.onInput) {
                this.search.value = this.onInput(this.search.value);
            }

            DjangoRequest.send({
                url: this.endpoint + "?search=" + this.search.value,
            })
            .then((response) => {
                this.search.results = response.json;
                if (this.onSearch) {
                    this.onSearch(this.search.value, response.json);
                }
            });
        },
    },
};
</script>
