<template>
<div class="form-group">
    <label v-if="label" :for="verboseId">{{ label }}</label>
    <textarea
        :id="verboseId"
        :value="value"
        @input="$emit('input', $event.target.value)"
        class="form-control form-control-sm">
    </textarea>
</div>
</template>

<script>
import AFormElement from "./AFormElement.vue";

export default {
    name: "ATextarea",
    extends: AFormElement,
};
</script>
