<template>
<bootstrap-modal :title="modalTitle" @close="close">
    <template slot="modal-body">
        <ingredient-form :form="ingredient"></ingredient-form>
    </template>
    <template slot="modal-footer">
        <btn class="btn-danger" :onClick="cancel">Cancel</btn>
        <btn class="btn-primary" :onClick="confirm">Save</btn>
    </template>
</bootstrap-modal>
</template>

<script>
import Ingredient from "../../../app/models/Ingredient";
import Btn from "../../atoms/Btn.vue";
import Modal from "../../molecules/Modal.vue";
import BootstrapModal from "../../molecules/BootstrapModal.vue";
import IngredientForm from "../forms/IngredientForm.vue";

export default {
    name: "IngredientModal",
    extends: Modal,
    components: {
        Btn,
        BootstrapModal,
        IngredientForm,
    },
    data() {
        return {
            ingredient: this.config.state.ingredient || new Ingredient(),
        };
    },
    computed: {
        modalTitle() {
            if (this.ingredient.id) {
                return "Edit Ingredient";
            } else {
                return "Create Ingredient";
            }
        },
        internalState() {
            return {
                ingredient: this.ingredient,
            };
        },
    },
};
</script>
