<template>
<bootstrap-modal :title="modalTitle" @close="close">
    <template slot="modal-body">
        <recipe-form :form="recipe"></recipe-form>
    </template>
    <template slot="modal-footer">
        <btn class="btn-danger" :onClick="cancel">Cancel</btn>
        <btn class="btn-primary" :onClick="confirm">Save</btn>
    </template>
</bootstrap-modal>
</template>

<script>
import Btn from "../../atoms/Btn.vue";
import Modal from "../../molecules/Modal.vue";
import BootstrapModal from "../../molecules/BootstrapModal.vue";
import RecipeForm from "../forms/RecipeForm.vue";

export default {
    name: "RecipeModal",
    extends: Modal,
    components: {
        Btn,
        BootstrapModal,
        RecipeForm,
    },
    data() {
        return {
            recipe: this.config.state.recipe || {},
        };
    },
    computed: {
        modalTitle() {
            if (this.recipe.id) {
                return "Edit Recipe";
            } else {
                return "Create Recipe";
            }
        },
        internalState() {
            return {
                recipe: this.recipe,
            };
        },
    },
};
</script>
