<template>
<div>
    <login-page v-if="!user.login"></login-page>
    <recipes-list-page v-else></recipes-list-page>
</div>
</template>

<script>
import Login from "./Login.vue";
import RecipesList from "./Recipes/RecipesList.vue";
export default {
    components: {
        "login-page": Login,
        "recipes-list-page": RecipesList,
    },
    mounted() {
        if (this.$store.state.user.login) {
            this.$router.push("/recipes");
        }
    },
    computed: {
        /**
         * Returns the $store.state.user
         * @returns {Object}
         */
        user() {
            return this.$store.state.user;
        },
    },
};
</script>
