<template>
<div>
    <div class="container" style="margin-top: 250px;">
        <div class="container" style="padding-left: 650px;">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" v-model="form.email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" v-model="form.password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-success" @click="login">Sign in</button>
            <button type="submit" class="btn btn-success" @click="register">Register</button>
        </div>
    </div>
</div>
</template>

<script>
import DjangoRequest from "../../backend/DjangoRequest.js";
export default {
    data() {
        return {
            form: {
                email: "",
                password: "",
            }
        };
    },
    methods: {
        /**
         * Resets the form
         */
        resetForm() {
            this.form.email = "";
            this.form.password = "";
        },
        /**
         * Logins the user
         * @returns {Promise}
         */
        login() {
            return DjangoRequest.send({
                url: "/api/users/login/",
                method: "POST",
                data: { ...this.form },
            })
            .then((response) => {
                this.resetForm();
                this.$store.commit("login", response.json);
            });
        },
        /**
         * Registers the user
         * @returns {Promise}
         */
        register() {
            return DjangoRequest.send({
                url: "/api/users/",
                method: "POST",
                data: { ...this.form },
            })
            .then((response) => {
                this.resetForm();
                this.$store.commit("login", response.json);
            });
        },
    }
};
</script>
