.cibi-main {
    max-width: 1000px;
    color: #333026;
    padding: 25px;
}
a, a:hover {
    color: #ec2626;
}
h1 {
    margin-bottom: 25px;
}

.pointer {
    cursor: pointer !important;
}

.no-select {
    user-select: none;
}

.vueboox-component-transition-enter-active,
.vueboox-component-transition-leave-active {
    transition: all 0.5s;
}

.vueboox-component-transition-enter,
.vueboox-component-transition-leave-to {
    transform: translateY(-100%);
}

.vueboox-modal-root {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.vueboox-modal-root-active {
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: all;
}
