<template>
<div>
    <a-input v-model="iform.name" label="Ingredient name"></a-input>
    <a-textarea v-model="iform.description" label="Description"></a-textarea>
</div>
</template>

<script>
import AForm from "../../molecules/forms/AForm.vue";
export default {
    extends: AForm,
};
</script>
