<template>
<div>
    <a-input v-model="iform.name" label="Recipe name"></a-input>
    <a-textarea v-model="iform.description" label="Description"></a-textarea>
    <ingredient-field v-model="iform.recipeIngredients"></ingredient-field>
    <a-input v-model="iform.servings" type="number" label="Servings"></a-input>
</div>
</template>

<script>
import AForm from "../../molecules/forms/AForm.vue";
import IngredientField from "../fields/IngredientField.vue";

export default {
    extends: AForm,
    components: {
        IngredientField,
    },
};
</script>
