<template>
<button type="button" class="btn btn-sm" @click="onClick">
    <slot></slot>
</button>
</template>

<script>
export default {
    props: {
        onClick: {
            type: Function,
            required: true,
        },
    },
};
</script>
