<template>
<div>
    <div class="modal cibi-modal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="title" class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" aria-label="Close" @click="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot name="modal-body"></slot>
                </div>
                <div class="modal-footer">
                    <slot name="modal-footer"></slot>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: false,
        },
    },
    methods: {
        close() {
            this.$emit("close");
        },
    },
};
</script>

<style>
.cibi-modal {
    display: block;
    position: relative;
}
</style>
