<template>
<div></div>
</template>

<script>
import { Modal } from "vueboox";

export default {
    name: "CibiModal",
    extends: Modal,
    props: {
        title: {
            type: String,
            required: false,
        },
    },
    computed: {

        /**
         * Retrieves the actual title of the modal
         * @returns {string}
         */
        modalTitle() {
            if (this.config.state.title) {
                return this.config.state.title;
            } else if (this.title) {
                return this.title;
            } else {
                return "";
            }
        },
    }
};
</script>
