<template>
<div>
    <h1>Recipes</h1>
    <div>
        <ul class="list-group list-group-flush">
            <li v-for="recipe in recipes" :key="recipe.id" class="list-group-item">
                <router-link :to="getRecipeRoute(recipe)">{{ recipe.name }}</router-link>
                <br/>
                <span>{{ recipe.description }}</span>
            </li>
        </ul>
    </div>
</div>
</template>

<script>
import RecipesBase from "./RecipesBase.vue";
export default {
    extends: RecipesBase,
    methods: {
        getRecipeRoute(recipe) {
            return {
                name: "recipes-detail",
                params: {
                    recipe: recipe.id,
                },
            };
        },
    },
    computed: {
        recipes() {
            return this.$store.state.recipes.list;
        }
    }
};
</script>
