<template>
<div>
    <div v-if="recipe">
        <h1>{{ recipe.name }}</h1>
        <div>{{ recipe.description }}</div>
        <split>
            <template slot="title">Ingredients</template>
            <template slot="content">
                <u-list>
                    <list-item v-for="ingredient in recipe.ingredients" :key="ingredient.id" class="d-flex">
                        <div class="mr-auto">
                            <small>{{ ingredient.quantity }} x {{ ingredient.ingredient.name }}</small>
                        </div>
                        <div class="justify-content-end">
                            <button class="btn btn-sm btn-primary"><small>Edit</small></button>
                        </div>
                    </list-item>
                </u-list>
            </template>
        </split>
        <split>
            <template slot="title">Steps</template>
            <template slot="content">
                <u-list v-if="recipe.steps.length">
                    <list-item v-for="step in recipe.steps" :key="step.id">
                        {{ step.content }}
                    </list-item>
                </u-list>
                <u-list>
                    <list-item>No step defined.</list-item>
                </u-list>
            </template>
        </split>
    </div>
</div>
</template>

<script>
import DjangoRequest from "../../../backend/DjangoRequest.js";
import { endpoints } from "../../../app/routes/endpoints";
import UList from "../../atoms/UList.vue";
import ListItem from "../../atoms/ListItem.vue";
import RecipesBase from "./RecipesBase.vue";
import Split from "../../molecules/Split.vue";

export default {
    extends: RecipesBase,

    components: {
        Split,
        UList,
        ListItem,
    },

    data() {
        return {
            recipe: {
                name: "",
                ingredients: [],
                steps: [],
            },
        };
    },

    mounted() {
        this.fetchRecipe(this.recipeId)
        .then((response) => {
            this.$set(this, "recipe", response.json);
        });
    },

    methods: {
        fetchRecipe(recipeId) {
            const url = endpoints.recipes.list + recipeId + "/";
            return DjangoRequest.send({ url });
        }
    },

    computed: {
        recipes() {
            return this.$store.state.recipes.list;
        },
        recipeId() {
            return parseInt(this.$route.params.recipe);
        },
    },
};
</script>
