<template>
<div>
    <div
        v-for="recipeIngredient in value"
        :key="recipeIngredient.ingredient.id">
        <div>
            <small class="ingredient-field-quantifier" @click="editQuantity(recipeIngredient, 1)">+</small>
            <small class="ingredient-field-quantifier" @click="editQuantity(recipeIngredient, -1)">-</small>
            <small class="ingredient-field-ingredient">{{ recipeIngredient.quantity }} x {{ recipeIngredient.ingredient.name }}</small>
        </div>
    </div>
    <a-search-input label="Ingredient name" :endpoint="context.endpoints.ingredients.list" :search="search" :on-search="onIngredientSearch">
        <div slot="results">
            <u-list>
                <list-item
                    v-for="ingredient in search.results"
                    :key="ingredient.id"
                    @click.native="addRecipeIngredient(ingredient)">
                    <small class="no-select">{{ ingredient.name }}</small>
                </list-item>
                <list-item class="d-flex">
                    <div class="mr-auto"></div>
                    <div class="justify-content-end">
                        <button class="btn btn-sm btn-primary" @click="createIngredient">
                            <small>Create a new ingredient</small>
                        </button>
                    </div>
                </list-item>
            </u-list>
        </div>
        <div slot="no-results">
            <u-list>
                <list-item class="d-flex">
                    <div class="mr-auto">
                        <small class="no-select">No results</small>
                    </div>
                    <div class="justify-content-end">
                        <button class="btn btn-sm btn-primary" @click="createIngredient">
                            <small>Create a new ingredient</small>
                        </button>
                    </div>
                </list-item>
            </u-list>
        </div>
    </a-search-input>
</div>
</template>

<script>
import Ingredient from "../../../app/models/Ingredient";
import RecipeIngredient from "../../../app/models/RecipeIngredient";
import UList from "../../atoms/UList.vue";
import ListItem from "../../atoms/ListItem.vue";
import ASearchInput from "../../molecules/forms/ASearchInput.vue";

export default {
    props: {
        value: {
            required: true,
        },
    },
    components: {
        ASearchInput,
        ListItem,
        UList,
    },
    data() {
        return {
            search: {
                value: "",
                results: [],
            },
        };
    },
    methods: {
        addRecipeIngredient(ingredient) {
            const currentRecipeIngredient = this.value.find((_recipeIngredient) => _recipeIngredient.ingredient.id === ingredient.id);
            if (currentRecipeIngredient) {
                return;
            }
            
            const recipeIngredient = new RecipeIngredient({ fields: { ingredient } });
            this.$emit("input", [...this.value, recipeIngredient]);

            this.search.value = "";
            this.search.results = [];
        },
        removeRecipeIngredient(ingredient) {
            const ingredients = this.value.filter((recipeIngredient) => recipeIngredient.ingredient.id !== ingredient.id);
            this.$emit("input", ingredients);
        },
        createIngredient() {
            this.$modals.open("ingredient-modal", {})
            .then((modal) => {
                if (modal.state.confirm) {
                    return this.$store.dispatch("createIngredient", modal.state.ingredient)
                    .then((_response) => this.addRecipeIngredient(modal.state.ingredient));
                }
            });
        },
        editQuantity(recipeIngredient, quantity) {
            recipeIngredient.quantity += quantity;
            if (recipeIngredient.quantity <= 0) {
                this.removeRecipeIngredient(recipeIngredient.ingredient);
            }
        },
        onIngredientSearch(searchValue, searchResults) {
            this.search.value = searchValue;
            this.search.results = searchResults.map((ingredient) => new Ingredient({ fields: ingredient }));
        },
    },
    computed: {
        ingredients() {
            return this.value.map((recipeIngredient) => recipeIngredient.ingredient);
        },
        currentIngredient() {
            return {
                name: this.searchValue,
            };
        },
    },
};
</script>

<style>
.ingredient-field-ingredient {
    cursor: pointer;
    margin-left: 10px;
    transition: all 1s;
}
.ingredient-field-ingredient:hover {
    color: red;
    text-decoration: line-through;
}
.ingredient-field-quantifier {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 20px;
    height: 21px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 1s;
}
.ingredient-field-quantifier:hover {
    background-color: lightgray;
}
</style>
