<template>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <router-link to="/" class="navbar-brand">Cibi</router-link>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><router-link to="/recipes" class="nav-link">Recipes</router-link></li>
            <li class="nav-item"><router-link to="/" class="nav-link">Weekly Planner</router-link></li>
            <li class="nav-item"><router-link to="/" class="nav-link">Shopping List</router-link></li>
            <li class="nav-item" @click="createRecipe"><a class="nav-link">Create Recipe</a></li>
        </ul>
    </div>
</nav>
</template>

<script>
import Recipe from "../../app/models/Recipe";
export default {
    methods: {
        createRecipe() {
            const recipe = new Recipe();
            this.$modals.open("recipe-modal", { recipe })
            .then((modal) => {
                if (modal.state.confirm) {
                    this.$store.dispatch("createRecipe", modal.state.recipe.serialize());
                }
            });
        },
    }
}
</script>
