{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Cibi</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'build/css/cibi.css' %}" />
</head>
<body>
{% block main %}
{% endblock %}
{% if request.user.is_authenticated %}
<script>
window.user = {
    login: true,
    data: {
        id: JSON.parse("{{ request.user.id }}"),
        email: "{{ request.user.email }}",
    },
};
</script>
{% endif %}
<script src="{% static 'build/js/cibi.js' %}"></script>
</body>
</html>
